.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btns {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.btns button {
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 40px;
}
.input {
  width: 200px;
  height: 20px;
}

.find {
  background-color: rgb(17, 0, 255);
  color: white;
}
.send {
  background-color: black;
  color: white;
}
.status {
  background-color: black;
  color: white;
  height: 80px;
  width: 200px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status.notfound {
  background-color: green;
}
.status.found {
  background-color: red;
}
